In [23]:
#SUm OFF odd and even index of the  digit
n = int(input())
i = 0
temp = n
even,odd = 0,0
while(i < n):
    if(i%2 == 0):
        even += temp%10
        
    else:
        odd += temp%10
    
    temp //= 10
    i += 1

print(odd)
print(even)

 4

0
4

In [ ]:
#prime no.s btw 1 to 100
def check_prime(n):
    b = True
    i = 2
    while i*i <= n:
        if n%i == 0:
            b = False
            break
        i += 1
    return b


a = int(input())
j = 2
while(j <= a):
    c = check_prime(j)
    if c:
        print(j)

    j += 1

In [4]:
#31
N = 5
row = 1
val = N
nst = N
while row <= N:
    cval = val
    cst = 1
    while cst <= nst:
        if row + cst == N+1:
            print('*',end=" ")
        else:
            
            print(cval,end=" ")
        cval-= 1
        cst+=1
    row+=1
    print()

5 4 3 2 *
5 4 3 * 1
5 4 * 2 1
5 * 3 2 1
* 4 3 2 1

In [11]:
N = int(input())
nst = N//2 + 1
nsp = -1
row = 1
while row <= N:
    cst = 1
    while cst <= nst:
        print('*',end =" ")
        cst+=1
    
    csp = 1
    while csp <= nsp:
        print(' ',end = " ")
        csp+=1

    cst = 1
    if row == 1 or row == N:
        cst = 2
    while cst <= nst:
        print('*',end =" ")
        cst+=1

    row+=1
    if row <= N//2+1:
        nst -=1
        nsp+=2
    else:
        nst +=1
        nsp-=2

    print()

 7

* * * * * * *
* * *   * * *
* *       * *
*           *
* *       * *
* * *   * * *
* * * * * * *

In [23]:
N = int(input())
nst = 1
nsp = N-1
row = 1
val = 1
while row <= N:
    csp = 1
    while csp <= nsp:
        print(' ',end=' ')
        csp+=1
    cval = val
    cst = 1
    while cst <= nst:
        print(cval,end=' ')
        cst+=1
        if cst<= nst//2 +1:
            cval+=1
        else:
            cval-=1
    val+=1
    nsp-=1
    nst+=2
    print()
    row+=1

 5

        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [3]:
N = int(input())
nst = 1
nsp = N//2
row = 1
while row <= N:
    csp = 1
    while csp <= nsp:
        print(" ",end= " ")
        csp+=1
    
    cst = 1
    while cst <= nst:
        print("*",end=" ")
        cst+=1
    
    if row <= N//2:
        nst+=2
        nsp-=1
    else:
        nst-=2
        nsp+=1

    print()
    row+=1

 5

    *
  * * *
* * * * *
  * * *
    *

In [9]:
N = int(input())
nst = 1
row = 1
val = 1
while row <= N:
    cst = 1
    cval = val
    while cst <= nst:
        print(cval,end = "  ")
        cval+=1
        cst+=1
    print()
    val = cval
    row+=1
    nst+=1

 5

1
2  3
4  5  6
7  8  9  10
11  12  13  14  15

In [11]:
N = int(input())
row = 1
nst = 2
nsp = 4
nsp2 = 3
while row <= N:
    csp = 1
    while csp <= nsp:
        print(" ",end="")
        csp+=1
   
        
    cst = 1
    while cst <= N:
        if row == 1 or row == N:
            print("*",end = "")
            cst+=1
        else:
            if cst == 1 or cst == N:
                print("*",end = "")
            else:
                print(" ",end = "")
            
            cst+=1
    nsp-=1
    row+=1
    print()

 5

    *****
   *   *
  *   *
 *   *
*****

In [25]:
N = 3
nsp = N - 1
nst = 1
row = 1
val = 1
while row <= N*2 -1:
    csp = 1
    while csp <= nsp:
        print(" ",end = " ")
        csp+=1
    
    cst = 1
    cval = val
    while cst <= nst:
        print(cval,end =" ")
        cst+=1
        if cst <= nst//2 +1:
            cval+=1
        else:
            cval-=1
    cval+=1
    val = cval
    if row < N:
        nst+=2
        nsp-=1
        val+=1
    else:
        nst-=2
        nsp+=1
        val-=1
    
    print()
    row+=1

    1
  2 3 2
3 4 5 4 3
  2 3 2
    1

In [29]:
N = int(input())
nst = 1
row = 1
val = 1
while row <= N:
    cst = 1
    cval = val
    while cst <= nst:
        if cst == 1 or cst == nst:
            print(cval,end = "  ")
        else:
            print("0",end = "  ")
        
        cst+=1
    print()
    cval+=1
    val = cval
    row+=1
    nst+=1

 5

1
2  2
3  0  3
4  0  0  4
5  0  0  0  5

In [6]:
N = int(input())
nst = 1
row = 1
val1 = -1
val2 = 1
while row <= N:
    
    cst = 1
    
    while cst <= nst:
        cval = val1 + val2
        print(cval,end = "  ")
        val1 = val2
        val2 = cval
        cst+=1
    print()
    
    row+=1
    nst+=1

 5

0
1  1
2  3  5
8  13  21  34
55  89  144  233  377

In [19]:
N = int(input())
nsp1 = N - 1
nsp2 = -1
nst = 1
row = 1
val = 1
while row <= N:
    csp1 = 1
    while csp1 <= nsp1:
        print(" ",end=" ")
        csp1+=1
    
    cst = 1
    cval = val
    while cst <= nst:
        print(cval,end=" ")
        cst+=1
        cval-=1
    
    csp2 = 1
    while csp2 <= nsp2:
        print(" ",end=" ")
        csp2+=1
    
    cst = 1
    cval+=1
    if 1 == row or row == N:
        cst+=1
    while cst <= nst:
        print(cval,end=" ")
        cst+=1
        cval+=1

    row+=1
    if row <= N//2+1:
        nst+=1
        nsp1-=2
        nsp2+=2
        val+=1
    else:
        nst-=1
        nsp1+=2
        nsp2-=2
        val-=1
    print()

 7

            1
        2 1   1 2
    3 2 1       1 2 3
4 3 2 1           1 2 3 4
    3 2 1       1 2 3
        2 1   1 2
            1

In [14]:
N = 9
nst = 1
nsp = N*2 - 1
row = 1
val = N
while row <= N*2 +1:
    cst = 1
    cval = val
    while cst <= nst:
        print(cval,end =" ")
        cst+=1
        cval-=1
    csp = 1
    while csp <= nsp:
        print(" ",end=" ")
        csp+=1
    cst = 1
    cval+=1
    if row == N + 1:
        cst+=1
        cval+=1
    while cst <= nst:
        print(cval,end =" ")
        cst+=1
        cval+=1
    if row <= N:
        nst+=1
        nsp-=2
    else:
        nst-=1
        nsp+=2

    print()
    row+=1

9                                   9
9 8                               8 9
9 8 7                           7 8 9
9 8 7 6                       6 7 8 9
9 8 7 6 5                   5 6 7 8 9
9 8 7 6 5 4               4 5 6 7 8 9
9 8 7 6 5 4 3           3 4 5 6 7 8 9
9 8 7 6 5 4 3 2       2 3 4 5 6 7 8 9
9 8 7 6 5 4 3 2 1   1 2 3 4 5 6 7 8 9
9 8 7 6 5 4 3 2 1 0 1 2 3 4 5 6 7 8 9
9 8 7 6 5 4 3 2 1   1 2 3 4 5 6 7 8 9
9 8 7 6 5 4 3 2       2 3 4 5 6 7 8 9
9 8 7 6 5 4 3           3 4 5 6 7 8 9
9 8 7 6 5 4               4 5 6 7 8 9
9 8 7 6 5                   5 6 7 8 9
9 8 7 6                       6 7 8 9
9 8 7                           7 8 9
9 8                               8 9
9                                   9

In [24]:
N = int(input())
nst = 1
nsp = N*2 - 3
row = 1
val = 1
while row <= N:
    cst = 1
    cval = val
    while cst <= nst:
        print(cval,end=" ")
        cst+=1
        cval+=1

    csp = 1
    while csp <= nsp:
        print(" ",end=" ")
        csp+=1

    cval-=1
    cst = 1
    if row == N:
        cst+=1
        cval-=1
    while cst <= nst:
        print(cval,end=" ")
        cst+=1
        cval-=1

    row+=1
    print()
    nsp-=2
    nst+=1

 6

1                   1
1 2               2 1
1 2 3           3 2 1
1 2 3 4       4 3 2 1
1 2 3 4 5   5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1

In [29]:
N = int(input())
nst = N*2 + 1
nsp = 0
row = 1
val = 5
while row <= N*2+1:
    csp = 1
    while csp <= nsp:
        print(" ",end=" ")
        csp+=1
    
    cst = 1
    cval = val
    while cst <= nst:
        
        print(cval,end=" ")
        cst+=1
        if cst <=  nst//2 + 1:
            cval-=1
        else:
            cval+=1
    
    row +=1
    print()

    if row <=N+1:
        nst-=2
        nsp+=1
    else:
        nst+=2
        nsp-=1

 5

5 4 3 2 1 0 1 2 3 4 5
  5 4 3 2 1 2 3 4 5
    5 4 3 2 3 4 5
      5 4 3 4 5
        5 4 5
          5
        5 4 5
      5 4 3 4 5
    5 4 3 2 3 4 5
  5 4 3 2 1 2 3 4 5
5 4 3 2 1 0 1 2 3 4 5

In [37]:
N = int(input())
nst = N*2 + 1
nsp = 0
row = 1
val = N
while row <= N*2+1:
    csp = 1
    while csp <= nsp:
        print(" ",end=" ")
        csp+=1
    
    cst = 1
    cval = val
    while cst <= nst:
        
        print(cval,end=" ")
        cst+=1
        if cst <=  nst//2 + 1:
            cval-=1
        else:
            cval+=1
    
    
    row +=1
    print()
    
    if row <=N+1:
        nst-=2
        nsp+=1
        val-=1
    else:
        nst+=2
        nsp-=1
        val+=1

 6

6 5 4 3 2 1 0 1 2 3 4 5 6
  5 4 3 2 1 0 1 2 3 4 5
    4 3 2 1 0 1 2 3 4
      3 2 1 0 1 2 3
        2 1 0 1 2
          1 0 1
            0
          1 0 1
        2 1 0 1 2
      3 2 1 0 1 2 3
    4 3 2 1 0 1 2 3 4
  5 4 3 2 1 0 1 2 3 4 5
6 5 4 3 2 1 0 1 2 3 4 5 6

In [1]:
def tot_pr(arr):
    n = len(arr)
    pr = 1
    for i in range(n):
        pr *= arr[i]
    return pr

N = int(input())
arr = [int(input()) for _ in range(N)]

total = tot_pr(arr)
for i in range(N):
    arr[i] = total//arr[i]

print(arr)

 4
 1
 2
 3
 4

[24, 12, 8, 6]

In [1]:
from collections import Counter

def find_intersection(arr1, arr2):
    count_map = Counter(arr1)

    result = []
    for num in arr2:
        if count_map[num] > 0:
            result.append(num)
            count_map[num] -= 1
        
    return result




N = int(input())
arr1 = list(map(int,input().split()))
arr2 = list(map(int,input().split()))
print(find_intersection(arr1, arr2))

 4 4

ValueError: invalid literal for int() with base 10: '4 4'

 4 4
 11 22 33 44
 12 23 34 45
 21 32 43 54
 11

TypeError: 'map' object is not subscriptable

In [3]:
def fn(matrix,  m, n):
    result = []
    for col in range(n):
        if col % 2 == 0:
            for row in range(m):
                result.append(str(matrix[row][col]))
        else:
            for row in range(m-1,-1,-1):
                result.append(str(matrix[row][col]))

    print(", ".join(result) + ", END")


m, n = map(int, input().split())
matrix = [list(map(int, input().split()) for _ in range(m))]
fn(matrix, m, n)

 4 4
 11 22 33 44
 22 33 44 55
 55 66 77 88
 21 32 43 54

IndexError: list index out of range

In [7]:
def fn(matrix, m, n, x):
    i, j = 0, n - 1

    while i<m and j >= 0:
        if matrix[i][j] == x:
            print(1)
            return
        elif matrix[i][j] > x:
            j-=1
        else:
            i+=1
    
    print(0)



m, n = map(int, input().split())
elements = list(map(int, input().split()))
matrix = [elements[i*n:(i+1)*n] for i in range(m)] #new concept
x = int(input())
fn(matrix, m, n, x)

 3 3
 3 30 38 44 52 54 57 60 69
 62

0

In [10]:
# Using Boyer-Moore Voting Algorithm
def fn(arr, n):
    curr = arr[0]
    count = 1

    for i in range(1,n):
        if arr[i] == curr:
            count+=1
            ele = arr[i]
        else:
            count-=1
        if count == 0:
            curr = arr[i]
    return curr


N = int(input())
arr = list(map(int,input().split()))
fn(arr, N)

 5
 1 2 2 2 3

2

In [1]:
l  = [1,2,3,4]
l2 = [4,5,6]
l.append(l2)

In [2]:
l

[1, 2, 3, 4, [4, 5, 6]]

In [3]:
from pprint import pprint
data = {"name": "Alice", "age": 25, "city": "Delhi"}
pprint(data)

{'age': 25, 'city': 'Delhi', 'name': 'Alice'}

In [5]:
student = {"name": "Aayush", "age": 21, "course": "CSE"}
student

{'name': 'Aayush', 'age': 21, 'course': 'CSE'}