In [1]:
print('hello')

hello

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
a = 1+2+\
    4
print(a)

7

In [5]:
a,b = 20,30
print(a,b,sep = ',')

20,30

In [6]:
print(10,end = ' ')
print(20)

10 20

In [7]:
print(type(a))

<class 'int'>

In [8]:
id(a) 
# its address of a

4311458592

In [9]:
f = 20.5
b = int(f)
print(b)

20

In [11]:
ord('a')

97

In [12]:
print(a/b)

1.0

In [13]:
print(a//b)

1

In [14]:
s = 'Hello'
a = 'el'
a in s

True

marks = int(input('Enter Marks'))

if marks <=100 and marks >=80:
    print('A')
elif marks < 80 and marks >= 60:
    print('B')
elif marks < 60 and marks >= 40:
    print('C')
elif marks < 40 and marks >= 0:
    print('F')
else:
    print('invalid marks')

# ternary operator

In [19]:
a = 10
b = 20
c = a if a > b else b
print(c)

20

In [24]:
n = int(input('enter no.'))
s = 0
i = 1
while(i < n):
    s += i
    i +=1

print(s)
#sum 1 to n

enter no. 10

45

In [32]:
n = int(input('enter no.'))
c = 0
i = 1
while i <= n:
    if n%i == 0:
        print(i,end = ' ')
        c += 1
    i +=1

print()
print(c)
#count factors

enter no. 10

1 2 5 10
4

In [33]:
n = int(input('enter no.'))
c = 0
i = 2
b = True
while i*i < n:
    if n%i == 0:
        b = False
        break
    i += 1

print(b)
#check prime

enter no. 10

False

In [3]:
#prime no.s btw 1 to 100
def check_prime(n):
    b = True
    i = 2
    while i*i <= n:
        if n%i == 0:
            b = False
            break
        i += 1
    return b


a = 100
j = 2
while(j <= a):
    c = check_prime(j)
    if c:
        print(j, end = ' ')

    j += 1

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [1]:
# no. of digits
num = int(input('Enter No.'))
c = 0
temp = num
while temp > 0:
    temp //= 10
    c+=1

print(c)

Enter No. 10

2

In [2]:
# agr ek input use krke 2 vRIABLES KI Value leni ho to split ka use krte h
a,b,c = input().split()
a= int(a)
b = int(b)
c = int(c)
print(a)
print(b)
print(c)

 1 2 3

1
2
3

In [9]:
n = int(input())
i = 0

while i < n:
    j = 0
    while j < n:
        print('*',end= ' ')
        j+=1
    print()
    i += 1

 4

* * * *
* * * *
* * * *
* * * *

In [10]:
n = int(input())
i = 1

while i <= n:
    j = 0
    while j < i:
        print('*',end= ' ')
        j+=1
    print()
    i += 1

 5

*
* *
* * *
* * * *
* * * * *

In [12]:
n = int(input())
i = 0

while i <=n:
    j = n
    while j > i:
        print('*',end= ' ')
        j-=1
    print()
    i += 1

 4

* * * *
* * *
* *
*

In [19]:
n = int(input())
i = 1

while i <= n:
    j = 0
    while j < n:
        if j < n - i:
            print(' ',end=' ')
        else:
            print('*',end= ' ')
        j+=1
    print()
    i += 1

 4

      *
    * *
  * * *
* * * *

In [3]:
def add(a,b):
    return a+b


print(add(1,2))

3

In [1]:
n = int(input())
i = 0
temp = n
even,odd = 0,0
while(i < n):
    if(i%2 == 0):
        even += temp%10
        
    else:
        odd += temp%10
    
    temp //= 10
    i += 1

print(odd)
print(even)

 2635

5
11

In [5]:
#prime no.s btw 1 to 100
def check_prime(n):
    b = True
    i = 2
    while i*i <= n:
        if n%i == 0:
            b = False
            break
        i += 1
    return b


a = int(input())
j = 2
while(j <= a):
    c = check_prime(j)
    if c:
        print(j, end = ' ')

    j += 1

 90

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89

In [3]:
n = int(input())
i = 1

while i <= n:
    j = 0
    while j <= n:
        if j < i:
            print(' ',end=' ')
        else:
            print('*',end= ' ')
        j+=1
    print()
    i += 1

 5

  * * * * *
    * * * *
      * * *
        * *
          *

In [6]:
n = int(input())
i = 1 #rows

while i <= n:
    j = 0 #stars
    while j <= n:
        if j < i:
            print('  ',end=' ')
        else:
            print('*',end= ' ')
        j+=1
    print()
    i += 1

 5

   * * * * *
      * * * *
         * * *
            * *
               *

In [11]:
n = int(input())
i = 1
rows = n

while i <= rows:
    j = 0
    while j <= n:
        if j <= rows - i:
            print(' ',end=' ')
        else:
            print('*',end= ' ')
        j+=1
    n+=1        
    print()
    i += 1

 5

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [12]:
n = 5
i = 1
sp = n - 1
while i <= n:
    j = 1
    while j <= sp:
        print(' ', end = ' ')
        j += 1
    sp -= 1
    j = 1
    while j <= 2 * i - 1:
        print('*', end = ' ')
        j += 1
    print()
    i += 1

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [16]:

n = 5
i = n
sp = 1
while i >= 1:
    j = 1
    while j <= sp:
        print(' ', end = ' ')
        j += 1
    sp += 1
    j = 1
    while j <= 2 * i - 1:
        print('*', end = ' ')
        j += 1
    print()
    i -= 1

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [20]:
n = 6
i = 1
sp = n - 1
while i <= n:
    j = 1
    while j <= sp:
        print(' ', end = ' ')
        j += 1
    sp -= 1
    j = 1
    while j <= 2 * i - 1:
        if j%2:
            print('*', end = ' ')
        else:
            print(' ', end = ' ')
        j += 1
    print()
    i += 1

          *
        *   *
      *   *   *
    *   *   *   *
  *   *   *   *   *
*   *   *   *   *   *

In [21]:
n = 6
i = 1
sp = n - 1
while i <= n:
    j = 1
    while j <= sp:
        print(' ', end = ' ')
        j += 1
    sp -= 1
    j = 1
    while j <= 2 * i - 1:
        if j%2:
            print('*', end = ' ')
        else:
            print('!', end = ' ')
        j += 1
    print()
    i += 1

          *
        * ! *
      * ! * ! *
    * ! * ! * ! *
  * ! * ! * ! * ! *
* ! * ! * ! * ! * ! *

In [23]:
n = int(input())
i = 1

while i <= n:
    j = 1
    while j <= n:
        if j == 1 or j == n or i == 1 or i == n:
            print('*',end=' ')
        else:
            print(' ',end= ' ')
        j+=1
    print()
    i += 1

 5

* * * * *
*       *
*       *
*       *
* * * * *

In [24]:
n = int(input())
i = 1
col = n
row = n

while i <= n:
    j = 1
    while j <= n:
        if j == i or j == col:
            print('*',end=' ')
        else:
            print(' ',end= ' ')
        j+=1
    col -= 1
    print()
    i += 1

 5

*       *
  *   *
    *
  *   *
*       *

In [25]:
n = 5
i = 1
while i <= n:
    j = 1
    while j <= n:
        if i == j or i + j == n + 1:
            print('*', end = '  ')
        else:
            print(' ',end = '  ')
        j += 1
    i += 1
    print()

*           *
   *     *
      *
   *     *
*           *

In [33]:
n = 5
row = 1
nst = 1
i = 1
while i < 2*n:
    j = 1
    while j <= nst:
        print('*', end = ' ')
        j += 1
    if row < n:
        nst += 1
    else:
        nst -= 1
    row += 1
    i += 1
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [36]:
n = 9
row = 1
nst = 1
i = 1
while i < 2*n:
    j = 1
    while j <= n:
        if j <= n - nst:
            print(' ', end = ' ')
        else:
            print('*', end = ' ')
        j += 1
    if row < n:
        nst += 1
    else:
        nst -= 1
    row += 1
    i += 1
    print()

                *
              * *
            * * *
          * * * *
        * * * * *
      * * * * * *
    * * * * * * *
  * * * * * * * *
* * * * * * * * *
  * * * * * * * *
    * * * * * * *
      * * * * * *
        * * * * *
          * * * *
            * * *
              * *
                *

In [37]:
# Q14
n = 5
i = 1
while i < 2 * n:
    j = 1
    nst = i if i <= n else n - (i - n) 
    nsp = n - i if i <= n else i - n
    while j <= nsp:
        print(' ', end = ' ')
        j += 1
    j = 1
    while j <= nst:
        print('*', end = ' ')
        j += 1
        
    i += 1
    print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [6]:
# sir n kha h ki aayush bhai jugadu tareeke se code likhna chorrde or generic code likhne shuru kr interview m kaam aayega

N = 6
nst = N
nsp = 0
row = 1
while row <= 2*N-1:
    csp = 1
    while csp <= nsp:
        print(" ",end= " ")
        csp += 1
        
    cst = 1
    while cst <= nst:
        print('*',end = ' ')
        cst += 1

    if row < N:
        nst -= 1
        nsp += 2
    else:
        nst += 1
        nsp -= 2
    print()
    row += 1

* * * * * *
    * * * * *
        * * * *
            * * *
                * *
                    *
                * *
            * * *
        * * * *
    * * * * *
* * * * * *

In [42]:
N = 6
nst = N
nsp = N - 1
row = 1
while row <= 2*N-1:
    csp = 1
    while csp <= nsp:
        print(" ",end= " ")
        csp += 1
        
    cst = 1
    while cst <= nst:
        print('*',end = ' ')
        cst += 1

    if row < N:
        nst -= 1
        nsp -= 1
    else:
        nst += 1
        nsp += 1
    print()
    row += 1

          * * * * * *
        * * * * *
      * * * *
    * * *
  * *
*
  * *
    * * *
      * * * *
        * * * * *
          * * * * * *

In [43]:
N = 4
nst = 1
nsp = N-1
row = 1
while row <= 2*N-1:
    csp = 1
    while csp <= nsp:
        print(" ",end= " ")
        csp += 1
        
    cst = 1
    while cst <= nst:
        print('*',end = ' ')
        cst += 1

    if row < N:
        nst += 2
        nsp -= 1
    else:
        nst -= 2
        nsp += 1
    print()
    row += 1

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [44]:
# Q18
n = 7
nsp = n // 2
nst = 1
i = 1
while i <= n:
    j = 1
    while j <= nsp:
        print(' ', end = '  ')
        j += 1
    j = 1
    while j <= nst:
        print('*', end = '  ')
        j += 1
    if(i <= n // 2):
        nst += 2
        nsp -= 1
    else:
        nst -= 2
        nsp += 1
    i += 1
    print()

         *
      *  *  *
   *  *  *  *  *
*  *  *  *  *  *  *
   *  *  *  *  *
      *  *  *
         *

In [3]:
# Q18
N = 7
nsp = -1
nst = N//2 + 1
row = 1
while row <= N:
    cst = 1
    if row == 1 or row == N:
        cst = 2
    while cst <= nst:
        print('*',end = ' ')
        cst += 1

    csp = 1
    while csp <= nsp:
        print(" ",end= " ")
        csp += 1
        
    cst = 1
    while cst <= nst:
        print('*',end = ' ')
        cst += 1

    if row <= N//2:
        nst -= 1
        nsp += 2
    else:
        nst += 1
        nsp -= 2
    print()
    row += 1

* * * * * * *
* * *   * * *
* *       * *
*           *
* *       * *
* * *   * * *
* * * * * * *

In [4]:
# Q18
N = 7
nsp = 1
nst = N//2
row = 1
while row <= N:
    cst = 1
    while cst <= nst:
        print('*',end = ' ')
        cst += 1

    csp = 1
    while csp <= nsp:
        print(" ",end= " ")
        csp += 1
        
    cst = 1
    while cst <= nst:
        print('*',end = ' ')
        cst += 1

    if row <= N//2:
        nst -= 1
        nsp += 2
    else:
        nst += 1
        nsp -= 2
    print()
    row += 1

* * *   * * *
* *       * *
*           *

*           *
* *       * *
* * *   * * *

In [9]:
N = 5
nsp = N - 1
nst = 1
row = 1
val = 1
while row <=N:
    csp =1
    while csp <= nsp:
        print(" ", end= " ")
        csp+= 1

    cst = 1
    while cst <= nst:
        print(val, end = " ")
        cst += 1

    nst += 2
    nsp -= 1
    row += 1
    print()

        1
      1 1 1
    1 1 1 1 1
  1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1

In [11]:
N = 5
nsp = N - 1
nst = 1
row = 1
val = 1
while row <=N:
    csp =1
    while csp <= nsp:
        print(" ", end= " ")
        csp+= 1

    cst = 1
    while cst <= nst:
        print(val, end = " ")
        cst += 1

    nst += 2
    nsp -= 1
    row += 1
    val += 1
    print()

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [12]:
N = 5
nsp = N - 1
nst = 1
row = 1
val = 1
while row <=N:
    csp =1
    while csp <= nsp:
        print(" ", end= " ")
        csp+= 1

    cst = 1
    cval = 1
    while cst <= nst:
        print(cval, end = " ")
        cst += 1
        cval+=1
        

    nst += 2
    nsp -= 1
    row += 1
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [13]:
#Q25
n = 5
nsp = n - 1
nst = 1
row = 1

val = 1
while row <= n:
    csp = 1
    while csp <= nsp:
        print(" ", end = " ")
        csp += 1
        
    cval = 1
    while cval <= val:
        print(cval, end = " ")
        cst += 1
        cval += 1
        
    nsp -= 1
    row += 1
    val += 2
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [20]:
N = 5
nsp = N - 1
nst = 1
row = 1
val = 1
while row <=N:
    csp =1
    while csp <= nsp:
        print(" ", end= " ")
        csp+= 1

    cst = 1
    cval = val
    while cst <= nst:
        print(cval, end = " ")
        cst += 1
        cval+=1
        

    nst += 2
    nsp -= 1
    row += 1
    val = cval
    print()

        1
      2 3 4
    5 6 7 8 9
  10 11 12 13 14 15 16
17 18 19 20 21 22 23 24 25

In [ ]:
#Q23
n = 5
nsp = n - 1
nst = 1
row = 1

val = 1
while row <= n:
    csp = 1
    while csp <= nsp:
        print(" ", end = " ")
        csp += 1
    
    cst = 1
    cval = 1
    while cst <= nst:
        print(cval, end = " ")
        if cst <= nst // 2:
            cval += 1
        else:
            cval -= 1
        cst += 1

    nst += 2
    nsp -= 1
    row += 1
    print()

In [24]:
#31
N = 5
row = 1
val = N
nst = N
while row <= N:
    cval = val
    cst = 1
    while cst <= nst:
        if row + cst == N+1:
            print('*',end=" ")
        else:
            
            print(cval,end=" ")
        cval-= 1
        cst+=1
    row+=1
    print()

5 4 3 2 *
5 4 3 * 1
5 4 * 2 1
5 * 3 2 1
* 4 3 2 1

In [12]:
N = 7
nsp1 = N -1
nsp2 = -1
nst = 1
row = 1
val = 1
while row <= N:
    csp1 = 1
    
    while csp1 <= nsp1:
        print(" ",end = " ")
        csp1 +=1
        
    cst = 1
    cval = val
    while cst <= nst:
        print(cval,end = " ")
        cst+=1
        cval-=1
        
    csp2 = 1
    while csp2 <= nsp2:
        print(" ",end = " ")
        csp2+=1

    cst = 1
    if row == 1 or row == N:
        cst = 2
    cval = 1
    while cst <= nst:
        print(cval,end = " ")
        cst+=1
        cval +=1

    if row <= N//2:
        nsp1 -= 2
        nst += 1
        nsp2 +=2
        val += 1
    else:
        nsp1 += 2
        nst -= 1
        nsp2 -=2
        val -= 1
    row += 1
    
    print()

            1
        2 1   1 2
    3 2 1       1 2 3
4 3 2 1           1 2 3 4
    3 2 1       1 2 3
        2 1   1 2
            1

In [13]:
N = 11
nsp = N - 2
nst = 1
row = 1
while row <= N:
    cst = 1
    while cst <= nst:
        print('*',end=" ")
        cst+=1

    csp = 1
    while csp<= cst:
        print(" ",end=" ")
        csp+=1
        
    cst = 1
    while cst <= nst:
        print('*',end=" ")
        cst+=1

    row +=1
    if row <= N//2:
        nst +=1
        nsp -=2
    else:
        nst -=1
        nsp +=2
    print()

*     *
* *       * *
* * *         * * *
* * * *           * * * *
* * * * *             * * * * *
* * * *           * * * *
* * *         * * *
* *       * *
*     *

In [1]:
N = 5
nsp = 2*N -1
nst = 1
row = 1
val = N
while row <= 2*N+1:
    cst = 1
    cval = val
    while cst <= nst:
        print(cval,end=" ")
        cst+=1
        cval -=1

    csp = 1
    while csp<= nsp:
        print(" ",end=" ")
        csp+=1
        
    cst = 1
    cval += 1
    if row == N +1:
        cst = 2
        cval += 1
    while cst <= nst:
        print(cval,end=" ")
        cst+=1
        cval+=1

    
    if row <= N:
        nst +=1
        nsp -=2
    else:
        nst -=1
        nsp +=2

    row +=1
    print()

5                   5
5 4               4 5
5 4 3           3 4 5
5 4 3 2       2 3 4 5
5 4 3 2 1   1 2 3 4 5
5 4 3 2 1 0 1 2 3 4 5
5 4 3 2 1   1 2 3 4 5
5 4 3 2       2 3 4 5
5 4 3           3 4 5
5 4               4 5
5                   5

# functions

- reusability
- modularity
- readability
- in python there are ony 2 things which are callable:
-     - classes
-     - functions
- python m sb oops hota h to ye function bhi ek object h
- fuction overloading vala concept nhi hota python m

-

In [2]:
def add():
    a= 10
    b = 20
    print(a + b)

add()

30

In [3]:
print(add,type(add))

<function add at 0x105bcbec0> <class 'function'>

In [4]:
add = 10

In [5]:
print(add)

10

In [6]:
add()
#will show an error

TypeError: 'int' object is not callable

In [7]:
def sub(a,b,c,d):
    return a-b, c-d
sub(10,20,30,40)

(-10, -10)

# function Docc

In [10]:
def fn():
    "this is a funct. docc"
    a = 10
    

fn.__doc__

'this is a funct. docc'

In [11]:
#shift tab
fn()

In [12]:
fn?

Signature: fn()
Docstring: this is a funct. docc
File:      /var/folders/z5/2d2c6k8d687gmgh3cz03y8qm0000gn/T/ipykernel_857/2420105877.py
Type:      function

# types of arguments
- positional args -> isme position k hisaaab se value dete h jha jha hmne parameter diye hote h ussi k acc. val. denge
- keyword -> phle positional uske baad keyword...isme parameter ka naam likhkr value dete h (c = 10,d = 20)
- default ->
- hum function m ek slash / bhi lga skte h positional or keyword arguments ko separate krne k liye
- or hum slash / k baad star * bhi likh skte h * k baad ka mtlv h ki compulsary keyword vale hi h parameter k naam k sath hi value deni pdegi

In [14]:
sub(10,20,c= 30, d= 40)

(-10, -10)

In [15]:
sub(10,20,d= 30, c= 40)

(-10, 10)

In [17]:
def sub(a,b,/,c,d):
    return a-b, c-d

sub(10,20,d= 30, c= 40)

(-10, 10)

In [18]:
sub(10,20,30, c= 40)
#positional shi se ni dia hua h

TypeError: sub() got multiple values for argument 'c'

In [19]:
sub(10,20,30, d= 40)

(-10, -10)

In [20]:
def sub(a,b,/,*,c,d):
    return a-b, c-d

sub(10,20,d= 30, c= 40)

(-10, 10)

In [22]:
sub(10,20,30, d= 40)
#positional to shi se kia h but star * lga h defination m to uski vjh se uske baad vale sirf keyword hi bnaenge

TypeError: sub() takes 2 positional arguments but 3 positional arguments (and 1 keyword-only argument) were given

In [23]:
""" Type Hints """
def fn(a : int, b :int = 100) -> int:
    print(a + b)

# lambda function
- lambda a,b(parameters vali value) : a+b(return vali value)
- - use case
  - polymorphism

In [25]:
xyz = lambda a,b : a+b
xyz(10,20)

30

In [28]:
# polymorphism
def cal(a,b,op):
    return op(a,b)

In [29]:
def add(a,b):
    return a+b
def sub(a,b):
    return a - b

cal(10,20,add)

30

In [31]:
# now using lambda for polymorphism
cal(10,20,lambda x,y : (x*y, x/y))

(200, 0.5)

# recursion

In [33]:
def fact(x):
    if x == 1:
        return 1
    return x*fact(x-1)

In [36]:
fact(10)

3628800

In [39]:
#print armstrong number feom 1 to 1000
def nod(N):
    count = 0
    temp = N
    while temp > 0:
        temp //= 10
        count+=1
    return count

def arm(N):
    count = nod(N)
    temp = N
    sum = 0
    while temp >0:
        r =temp%10
        temp //= 10
        sum += r**count
    if sum == N:
        return True
    else:
        return False

strt = int(input())
end = int(input())
for i in range(strt,end):
    if arm(i) == True:
        print(i)

 1
 1000

1
2
3
4
5
6
7
8
9
153
370
371
407

In [2]:
#college code
m = {'a': 1,'b': 2}
print(m.get('c','Not Found'))

Not Found

In [1]:
#star lgane se hum jitne bhi input denge vo tuple bnke store hojayenge
def fn(*args):
    print(args,type(args))
fn(1,1,2,3,4,5,6)

(1, 1, 2, 3, 4, 5, 6) <class 'tuple'>

In [2]:
def fn(a,b,*args):
    print(args,type(args))
fn(1,1,2,3,4,5,6)

(2, 3, 4, 5, 6) <class 'tuple'>

In [4]:
def fn(a,b,*args,c):
    print(args,type(args))
    print(c)
fn(1,1,2,3,4,5,6,c = 10)

(2, 3, 4, 5, 6) <class 'tuple'>
10

In [6]:
#double star lgayenge to keyword argument bnjayega
def fn(**kargs):
    print(kargs,type(kargs))
fn(a = 1,b=1,c=2,d=3,e=4)

{'a': 1, 'b': 1, 'c': 2, 'd': 3, 'e': 4} <class 'dict'>

In [7]:
#kargs hmesha last m hone chiye ni to error show hoga
def fn(**kargs,d):
    print(kargs,type(kargs))
fn(a = 1,b=1,c=2,d=3,e=4)

SyntaxError: arguments cannot follow var-keyword argument (4115078406.py, line 1)

In [8]:
d = {'a':10,'b':20,'c':30}

In [10]:
#d k andr 3 value h or funct. m only 2 parame4ter to ye error show krega
def fn(a,b):
    print(a,b)
fn(**d)

TypeError: fn() got an unexpected keyword argument 'c'

In [11]:
def printHi():
    print("Hi")

In [13]:
user= {
    'aayus' : 1234,
    'aayu' : 123}

In [14]:
def add(a,b,c):
    return a+b+c
def protectedADD(username,password,*args,**kwargs):
    if username in user and password==user[username]:
        return add(*args,**kwargs)
    else:
        print("Wrong username or password")
protectedADD("Shubham",1234,10,20,c=30)

Wrong username or password

In [15]:
def add(a,b,c):
    return a+b+c
def protectedADD(username,password,*args,**kwargs):
    if username in user and password==user[username]:
        return add(*args,**kwargs)
    else:
        print("Wrong username or password")
protectedADD("aayus",1234,10,20,c=30)

60

In [16]:
def authenticate(fn):
    
    def wrapper(username,password,*args,**kwargs):
        if username in user and password==user[username]:
            return fn(*args,**kwargs)
        else:
            print("Wrong username or password")
    return wrapper

In [17]:
def prod(a,b,c):
    return a*b*c

prod = authenticate(prod)

In [18]:
prod('aayus',1234,10,20,30)

6000

In [19]:
@authenticate
def abc():
    print('xyz')

#abc = authenticate(abc)

In [20]:
abc('aayus',1234)

xyz

In [22]:
 def iterx(start,stop,step = 1):
     i = start
     while i < stop:
         yield i
         i+= step

In [29]:
i = iterx(1,10)

In [25]:
print(i)

<generator object iterx at 0x1063e8a00>

In [26]:
next(i)

1

In [30]:
for n in i:
       print(n)

1
2
3
4
5
6
7
8
9